<section class="md-whiteframe-2dp content-correction" layout-padding>
	<form name="settingsForm" layout="column">
		<div layout="row">
			<md-input-container flex="50">
				<label>To</label>
				<input name="to" ng-model="settings.to">
			</md-input-container>
			<md-input-container flex="50">
				<label>From</label>
				<input name="from" ng-model="settings.from">
			</md-input-container>
		</div>
		<md-input-container flex>
			<label>Subject</label>
			<input name="recipient" ng-model="settings.subject">
		</md-input-container>
	</form>
</section>