body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #eee; }

h1,
h2,
h3,
h4 {
  font-family: 'Sahitya', serif;
  margin: 0; }

p {
  margin: 0 0 1.2em; }

nav md-content {
  background-color: transparent; }

.sidebar {
  background: #455A64;
  color: white; }

.content-correction {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll; }

.view-relative {
  position: relative; }
  .view-relative .ace_editor {
    box-shadow: 0 2px 5px #ccc; }
  .view-relative > div, .view-relative > article, .view-relative > section {
    background: white; }

i.fa {
  margin-right: 1em; }
