head
	title
		| Release Notes Generator
	link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Acme|Source+Sans+Pro")
	link(rel="stylesheet", href="/css/master.css")
body
	h1
		| testing 123

	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")
	
	